.auth_left {
  background: #a6a0a0 url(/truck.png) no-repeat center;
  background-size: cover;
}

.auth_right {
  background: rgba(31, 31, 53, 0.3) url("/oxbglines.png");
  background-size: cover;
  background-blend-mode: darken;
  position: relative;
}

.auth_right .form_container {
  background: #fff;
  padding: 30px !important;
  width: 400px !important;
  position: absolute !important;
  left: 0% !important;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
}
