#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #e3b221;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #313622, 0 0 5px #313622;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.ant-progress-success-bg,
.ant-progress-bg {
  background-color: var(--color_yellow) !important;
}

.ant-progress-inner {
  background-color: #eaeff2 !important;
}

.ant-layout-header.shadow {
  box-shadow: var(--shadow) !important;
  background: #ffffff 0% 0% no-repeat padding-box !important;
}

.ant-menu-item.ant-menu-item-selected.my_menu_bg {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

.ant-menu-item.not_collapsed {
  padding: 24px !important;
}

.ant-dropdown-menu-item:hover {
  background-color: transparent !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #e3b221 !important;
  border-color: #e3b221 !important;
}

.ant-input-affix-wrapper {
  color: #000000 !important;
  background: var(--color_input_white) !important;
  border: none !important;
}
.ant-input {
  background: var(--color_input_white) !important;
  border: none !important;
  outline: none !important;
}
.ant-input::placeholder,
.ant-picker-input > input::placeholder {
  color: #c0c0c0 !important;
  font-size: 0.875rem !important /* 14px */;
  line-height: 1.25rem !important /* 20px */;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none !important;
}

.ant-form-item-label > label {
  font-weight: 900 !important;
  color: #313622 !important;
}

.ant-form-item-label {
  padding-bottom: 2px !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: var(--color_input_white) !important;
  border: none !important;
  outline: none !important;
  padding: 0 1rem;
  border-radius: 4px !important;
  display: flex;
}

.ant-select.except .ant-select-selector {
  background-color: #ffffff !important;
  height: inherit !important;
  border: 1px solid red !important;
}

.ant-select-selection-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  background: #eaeff2 !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector:focus,
.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
  background: #eaeff2;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
  font-size: 14px !important;
}

.ant-select-selection-placeholder {
  font-size: 14px !important;
  font-weight: normal !important;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector
  input {
  display: block;
  width: 100%;
  height: 100%;
}

.ant-select.except .ant-select-selector,
.ant-select.except:hover {
  background-color: #ffffff !important;
  height: inherit !important;
  border: none !important;
}

.noborder .ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  border: none !important;
}

.light_white_header .ant-table-thead > tr > th {
  background: #f8f8f8 !important;
}

.ant-table-thead > tr > th {
  font-size: 0.875rem !important /* 14px */;
  line-height: 1.25rem !important /* 20px */;
}
.light_white_table .ant-table table {
  border-spacing: 0 5px !important;
  background: #f8f8f8 !important;
}

.light_white_table .ant-table-tbody > tr > td {
  background: #ffffff !important;
  border: none !important;
}

.ant-table-thead > tr > th {
  color: #2a3548 !important;
  opacity: 0.56;
  font-size: 14px;
  background-color: #ffffff !important;
}

.ant-table-tbody > tr.shadow {
  box-shadow: var(--row_shadow) !important;
  background-color: var(--white) !important;
  border-radius: 4px;
  margin: 120px !important;
}

.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  display: none;
}

.ant-table-thead > tr > .ant-table-cell {
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .data_table .ant-table-thead {
    display: none;
  }

  .data_table table,
  .data_table table .ant-table-tbody,
  .data_table table tr,
  .data_table table td {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .data_table table .ant-table-tbody tr:not(:nth-child(1)) {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--grey);
  }

  .data_table table .ant-table-tbody td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .data_table table .ant-table-tbody td:nth-child(2) {
    margin-top: 1rem;
  }

  .data_table table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1rem;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
  }

  .data_table table .no_text {
    background: var(--black);
    color: var(--yellow);
    margin-bottom: 100px;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 0;
  }
}

.ant-input.upload_input {
  opacity: 0;
  width: 147px;
  height: 147px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.PhoneInputCountryIcon--border {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  height: 18px !important;
  width: 27px !important;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 6px;
}

.PhoneInputInput {
  border: none;
  outline: none;
  height: inherit;
  margin-left: 16px;
}

.PhoneInputCountrySelectArrow {
  font-size: var(--text24);
  font-weight: 700;
  color: var(--color_black);
}

.ant-form-item {
  margin-bottom: 0px !important;
}

.ant-form-item-explain-error {
  font-size: 13px !important;
  color: #dc0000 !important;
  margin-top: 1px;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #e3b221 !important;
  border-color: #e3b221 !important;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: white !important;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #e3b221 !important;
  border-style: dashed !important;
}
