@import url("./extendedLibraries.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLORS */
  --color_white: #fcfcfc;
  --color_bg_white: #ffffff;
  --color_shadow_dark: #0000001a;
  --color_input_white: #f1f4f6;
  --color_dark: #2a3548;
  --color_black: #000000;
  --color_border_grey: #2a3548;
  --color_toggle_grey: #d8d8d8;
  --color_yellow: #e7b522;
  --color_yellow_faded: #e7b522;
  --color_yellow_faded_text: #e3b221;
  --color_orage: #ed7818;
  --color_red: #bd062d;

  /* FONTS */
  --text24: 1.5rem;
  --text18: 1.125rem;
  --text16: 1rem;
  --text14: 0.875rem;

  /* OTHERS */
  --opacity_1: 1;
  --shadow: -2px 3px 12px -5px #e4dfdf;
  --row_shadow: -3px 3px 13px 1px rgba(228, 223, 223, 0.41);
  --opacity_56: 0.56;
  --opacity_43: 0.43;
  --opacity_16: 0.16;
  --opacity_38: 0.38;
  --opcaity_23: 0.23;

  --PhoneInputCountryFlag-height: 100px;
  --inputHight: 46px;
}

:root {
  /* COLORS */
  --color_white: #fcfcfc;
  --color_bg_white: #ffffff;
  --color_shadow_dark: #0000001a;
  --color_input_white: #eaeff2;
  --color_dark: #2a3548;
  --color_black: #000000;
  --color_border_grey: #2a3548;
  --color_toggle_grey: #d8d8d8;
  --color_yellow: #e7b522;
  --color_yellow_faded: #e7b522;
  --color_yellow_faded_text: #e3b221;
  --color_orage: #ed7818;
  --color_red: #bd062d;

  /* FONTS */
  --text24: 1.5rem;
  --text18: 1.125rem;
  --text16: 1rem;
  --text14: 0.875rem;

  /* OTHERS */
  --opacity_1: 1;
  --shadow: -2px 3px 12px -5px #e4dfdf;
  --row_shadow: -3px 3px 13px 1px rgba(228, 223, 223, 0.41);
  --opacity_56: 0.56;
  --opacity_43: 0.43;
  --opacity_16: 0.16;
  --opacity_38: 0.38;
  --opcaity_23: 0.23;

  --PhoneInputCountryFlag-height: 100px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--color_white);
  overflow-x: hidden;
  font-size: 0.875rem /* 14px */;
  line-height: 0rem /* 20px */;
}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

::selection {
  background: var(--color_dark) !important;
  color: var(--color_yellow) !important;
}

.overflow_Y {
  overflow-y: scroll !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color_white) !important;
}

::-webkit-scrollbar-thumb {
  background: var(--color_input_white);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color_border_grey);
}

.fowe300 {
  font-weight: 300 !important;
}

.fowe400 {
  font-weight: 400 !important;
}

.fowe500 {
  font-weight: 500 !important;
}

.fowe600 {
  font-weight: 600 !important;
}

.fowe700 {
  font-weight: 700 !important;
}

.fowe900 {
  font-weight: 900 !important;
}

.mato8 {
  margin-top: 8px !important;
}

.mato16 {
  margin-top: 16px !important;
}

.mato32 {
  margin-top: 32px !important;
}

.mato64 {
  margin-top: 64px !important;
}

.mabo8 {
  margin-bottom: 8px !important;
}

.mabo16 {
  margin-bottom: 16px !important;
}

.mabo24 {
  margin-bottom: 24px !important;
}

.mabo32 {
  margin-bottom: 32px !important;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.underline {
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.lineh_normal {
  line-height: normal !important;
}

.lineh0 {
  line-height: 0 !important;
}

.white {
  color: var(--color_white) !important;
}

.bg_white {
  color: var(--color_bg_white) !important;
}

.bg_light_white {
  background: #f8f8f8 !important;
}

.bg_yellow {
  background-color: var(--color_yellow) !important;
}

.bg_danger {
  @apply bg-ox-danger !important;
}

.bg_danger_filled {
  @apply bg-ox-red !important;
}

.shadow {
  box-shadow: var(--shadow) !important;
  background: var(--white) 0% 0% no-repeat padding-box !important;
}

.row_shadow {
  box-shadow: var(--row_shadow) !important;
  background-color: var(--white) !important;
}

.input_white {
  color: var(--color_input_white) !important;
}

.dark {
  color: var(--color_dark) !important;
}

.black {
  color: var(--color_black) !important;
}

.white {
  color: var(--color_white) !important;
}

.border_grey {
  border: 1px solid var(--color_border_grey) !important;
}

.toggle_grey {
  color: var(--color_toggle_grey) !important;
}

.yellow {
  color: var(--color_yellow) !important;
}

.yellow_faded {
  color: var(--color_yellow_faded);
}

.red {
  color: var(--color_red) !important;
}

.yellow_faded_text {
  color: var(--color_yellow_faded_text) !important;
}

.yellow_faded_bg {
  background-color: var(--color_yellow_faded_text) !important;
}

.orage {
  color: var(--color_orage) !important;
}

.opacity_1 {
  opacity: var(--opacity_1);
}

.opacity_56 {
  opacity: var(--opacity_56);
}

.opacity_43 {
  opacity: var(--opacity_43);
}

.opacity_16 {
  opacity: var(--opacity_16);
}

.opacity_38 {
  opacity: var(--opacity_38);
}

.bg_white {
  background-color: var(--color_white) !important;
  color: var(--color_black);
}

.bg_yellow_faded {
  background-color: #fbf3db !important;
}

.bg_dark {
  background-color: var(--color_dark) !important;
  color: var(--color_white);
}

.bg_black {
  background-color: var(--color_black) !important;
  color: var(--color_white);
}

.bg_white_yellow {
  background-color: rgb(231, 181, 34, 0.16) !important;
}

.bg_white_input {
  background-color: var(--color_input_white);
}

.bg_white_edit_btn {
  background-color: rgba(42, 53, 72, 0.05) !important;
}

.bg_white_red {
  background-color: rgba(189, 6, 45, 0.05) !important;
}

.bg_yellow_view_btn {
  background-color: rgba(227, 178, 33, 0.05) !important;
}

.italic {
  font-style: italic;
}

.app-btn {
  @apply text-white;
  @apply rounded-full;
  @apply py-1;
  @apply px-4;
  @apply shadow;
}

.heading1 {
  @apply text-2xl;
  @apply font-semibold;
  @apply text-ox-dark !important;
}

.heading2 {
  @apply font-bold;
  @apply text-sm;
  @apply block;
  @apply text-ox-dark !important;
}

.normalText {
  @apply font-normal;
  @apply text-sm;
  @apply block;
}

.captionText {
  @apply font-light;
  @apply text-sm;
  @apply italic;
  @apply text-gray-400 !important;
}

.mediumText {
  @apply font-light;
  @apply text-sm;
  @apply text-gray-600 !important;
}

.link {
  @apply underline;
  @apply text-ox-dark !important;
  @apply hover:text-ox-yellow !important;
  @apply cursor-pointer;
}

/* Text */
.txt-title {
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 1px;
}
.txt-small {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 1px;
}
.animate {
  @apply transition-all;
  @apply duration-200;
}

.help_desk {
  position: absolute;
  bottom: 16px;
  right: 50%;
  transform: translateX(50%);
  width: 80%;
}

.depot_dropdown {
  background-color: #181f2b !important;
  min-width: 200px;
}

.img_fit {
  object-fit: cover;
  width: 100%;
}

.dashboard_menu {
  padding: 24px 0;
  transition: 0.3s;
}

.dashboard_menu_active,
.dashboard_menu:hover {
  transition: 0.3s;
  font-weight: 700 !important;
}

.dashboard_menu_active::after {
  background-color: var(--color_yellow);
  width: calc(100% - 4px);
  height: 4px;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.my_input > input {
  background: var(--color_input_white) !important;
}

.my_input {
  @apply h-[42px];
  @apply w-full;
  @apply border-none !important;
  @apply outline-none !important;
  @apply rounded-[4px] !important;
}

.my_input.sm {
  @apply h-[35px];
}

.my_datepicker {
  width: 100%;
  flex-grow: 1;
  height: 42px;
  padding: 0 4px;
  background: var(--color_input_white) !important;
  border: none !important;
  border-radius: 4px !important;
}

.my_datepicker.sm {
  @apply h-[35px];
}

.my_datepicker:active,
.my_datepicker:active {
  border: none !important;
}

.my_button {
  @apply min-w-fit;
  @apply w-full;
  @apply h-[42px] !important;
  @apply text-white !important;
  @apply font-bold !important;
  @apply text-[13px] !important;
  @apply border-none !important;
  @apply outline-none !important;
  @apply rounded-[4px] !important;
}

.my_button.sm {
  @apply w-fit !important;
  @apply text-xs !important;
  @apply h-[35px] !important;
}

.my_button.icon {
  @apply h-[35px] !important;
  @apply w-[35px] !important;
}

.my_button.black {
  @apply text-black !important;
}

.my_button.yellow {
  @apply text-ox-yellow-faded-text !important;
}

.day_circle {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents_container {
  /* overflow-y: scroll; */
  overflow-x: hidden;
  height: 93vh;
}

.notification_letter {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  position: absolute;
  right: 32px;
  top: 0;
  transform: translateY(75%);
}

.notification_letter.collapsed_on {
  font-size: 8px;
  width: 14px;
  height: 14px;
  right: 20px;
  top: 0;
  transform: translateY(65%);
}

@media screen and (max-width: 576px) {
  .data_table table,
  .data_table table .ant-table-tbody,
  .data_table table tr,
  .data_table table td {
    width: 100%;
  }
}

.upload_card {
  border: 1px dashed var(--color_toggle_grey);
  row-gap: 16px !important;
  width: 147px;
  height: 147px;
  position: relative;
}

.auth_left {
  background: #a6a0a0 url(/truck.png) no-repeat center;
  background-size: cover;
}

.auth_right {
  background: linear-gradient(rgba(42, 53, 72, 0.9), rgba(42, 53, 72, 0.9)),
    url("/oxbglines.png");
  background-size: cover;
  position: relative;
}

.auth_right .form_container {
  background: var(--color_white);
  padding: 56px 42px;
  width: 440px;
  border-radius: 8px;
  position: absolute !important;
  left: 0% !important;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
}

.fontwe700 {
  font-weight: 700;
}

.ant-card.myCard .ant-card-body {
  padding: 12px !important;
}

.ant-card.overviewCard .ant-card-body {
  padding: 16px 20px !important;
}

.ant-tabs.truck_tabs .ant-tabs-nav-list .ant-tabs-ink-bar {
  background-color: var(--color_yellow) !important;
}

.ant-card-actions {
  display: flex;
  align-items: center !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: none !important;
}

.ant-tabs.truck_tabs .ant-tabs-nav {
  margin: 0 !important;
}

.text_ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ant-table-tbody > tr > td {
  border-bottom: 8px solid #f8f8f8 !important;
}

.ant-table-thead > tr {
  background-color: #f8f8f8 !important;
}

.border_faded {
  border: 1px solid #f5f5f5;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn span {
  font-weight: bold !important;
}

.upload_input {
  background: var(--color_input_white) !important;
  position: relative;
}

.upload_input input {
  width: 100%;
  height: 100%;
  background-color: red !important;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}

.active_submenu::after {
  content: "";
  background-color: var(--color_yellow);
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -10px;
  right: 50%;
  transform: translateX(50%);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Loaders */
.ant-skeleton-element .ant-skeleton-input-sm {
  height: 18px !important;
  width: 18px !important;
  line-height: 18px;
}
.ant-skeleton-element .ant-skeleton-button-sm.ant-skeleton-button-square {
  width: 18px !important;
  height: 18px !important;
  min-width: 18px !important;
}

.ant-skeleton-element .ant-skeleton-button-sm.ant-skeleton-button-circle {
  width: 20px !important;
  height: 20px !important;
  min-width: 18px !important;
  border-radius: 50%;
}

.my_input.PhoneInput {
  background: var(--color_input_white) !important;
  padding-left: 12px;
}

.PhoneInputCountry {
  background: var(--color_input_white) !important;
}

.PhoneInputCountrySelect {
  font-family: Arial;
  padding: 12px;
  outline: none;
}

.dropdown_button {
  display: flex !important;
  align-items: center !important;
  gap: 20px !important;
}

.dropdown_btn_icon {
  position: relative;
  padding-left: 14px;
}

.dropdown_btn_icon::before {
  background-color: #fce08d;
  content: "";
  position: absolute;
  height: 42px;
  width: 1px;
  left: 0;
  top: -10px;
}

.text18 {
  font-size: var(--text18) !important;
}

.text16 {
  font-size: var(--text16) !important;
}

.text14 {
  font-size: var(--text14) !important;
}

.fowe300 {
  font-weight: 300 !important;
}

.fowe400 {
  font-weight: 400 !important;
}

.fowe500 {
  font-weight: 500 !important;
}

.fowe600 {
  font-weight: 600 !important;
}

.fowe700 {
  font-weight: 700 !important;
}

.fowe900 {
  font-weight: 900 !important;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.underline {
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.lineh_normal {
  line-height: normal !important;
}

.lineh0 {
  line-height: 0 !important;
}

.white {
  color: var(--color_white) !important;
}

.bg_white {
  color: var(--color_bg_white) !important;
}

.bg_yellow {
  background-color: var(--color_yellow) !important;
}

.bg_danger {
  @apply bg-ox-danger !important;
}

.shadow {
  box-shadow: var(--shadow) !important;
  background: var(--white) 0% 0% no-repeat padding-box !important;
}

.row_shadow {
  box-shadow: var(--row_shadow) !important;
  background-color: var(--white) !important;
}

.input_white {
  color: var(--color_input_white) !important;
}

.dark {
  color: var(--color_dark) !important;
}

.black {
  color: var(--color_black) !important;
}

.white {
  color: var(--color_white) !important;
}

.border_grey {
  color: var(--color_border_grey);
}

.toggle_grey {
  color: var(--color_toggle_grey);
}

.yellow {
  color: var(--color_yellow) !important;
}

.yellow_faded {
  color: var(--color_yellow_faded);
}

.red {
  color: var(--color_red) !important;
}

.yellow_faded_text {
  color: var(--color_yellow_faded_text) !important;
}

.orage {
  color: var(--color_orage) !important;
}

.red {
  color: var(--color_red) !important;
}

.opacity_1 {
  opacity: var(--opacity_1);
}

.opacity_56 {
  opacity: var(--opacity_56);
}

.opacity_43 {
  opacity: var(--opacity_43);
}

.opacity_16 {
  opacity: var(--opacity_16);
}

.opacity_38 {
  opacity: var(--opacity_38);
}

.bg_white {
  background-color: var(--color_white) !important;
  color: var(--color_black);
}

.bg_dark {
  background-color: var(--color_dark) !important;
  color: var(--color_white);
}

.bg_black {
  background-color: var(--color_black) !important;
  color: var(--color_white);
}

.bg_white_yellow {
  background-color: rgb(231, 181, 34, 0.16) !important;
}

.bg_white_input {
  background-color: var(--color_input_white);
}

.bg_white_edit_btn {
  background-color: rgba(42, 53, 72, 0.05) !important;
}

.bg_white_red {
  background-color: rgba(189, 6, 45, 0.05) !important;
}

.bg_yellow_view_btn {
  background-color: rgba(227, 178, 33, 0.05) !important;
}

.italic {
  font-style: italic;
}

.app-btn {
  @apply text-white;
  @apply rounded-full;
  @apply py-1;
  @apply px-4;
  @apply shadow;
}

.heading1 {
  @apply text-2xl;
  @apply font-semibold;
  @apply text-ox-dark !important;
}

.heading2 {
  @apply font-semibold;
  @apply text-base;
  @apply block;
  @apply text-ox-dark !important;
}

.normalText {
  @apply font-normal;
  @apply text-sm;
  @apply block;
}

.captionText {
  @apply font-light;
  @apply text-sm;
  @apply italic;
  @apply text-gray-400 !important;
}

.link {
  @apply underline;
  @apply text-ox-dark !important;
  @apply hover:text-ox-yellow !important;
  @apply cursor-pointer;
}

.animate {
  @apply transition-all;
  @apply duration-200;
}

.help_desk {
  position: absolute;
  bottom: 16px;
  right: 50%;
  transform: translateX(50%);
  width: 90%;
}

.depot_dropdown {
  background-color: var(--color_black) !important;
  min-width: 200px;
}

.img_fit {
  object-fit: cover;
}

.dashboard_menu {
  padding: 24px 0;
  transition: 0.3s;
}

.dashboard_menu_active,
.dashboard_menu:hover {
  transition: 0.3s;
  font-weight: 700 !important;
}

.dashboard_menu_active::after {
  background-color: var(--color_yellow);
  width: calc(100% - 4px);
  height: 4px;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.my_input > input {
  background: var(--color_input_white) !important;
}

.my_input {
  @apply text-ox-input-white !important;
  @apply h-[42px];
  @apply w-full;
  @apply border-none !important;
  @apply outline-none !important;
  @apply rounded-sm !important;
}

.my_input.sm {
  @apply h-[35px];
}

.my_datepicker {
  width: 100%;
  flex-grow: 1;
  height: 42px;
  padding: 0 4px;
  background: var(--color_input_white) !important;
  border: none !important;
}

.my_datepicker.sm {
  @apply h-[35px];
}

.my_datepicker:active,
.my_datepicker:active {
  border: none !important;
}

.my_button {
  @apply min-w-fit;
  @apply w-full;
  @apply h-[42px] !important;
  @apply text-white !important;
  @apply font-bold !important;
  @apply text-[14px] !important;
  @apply border-none !important;
  @apply outline-none !important;
}

.my_button.sm {
  @apply w-fit !important;
  @apply text-xs !important;
  @apply h-[35px] !important;
}

.my_button.icon {
  @apply h-[35px] !important;
  @apply w-[35px] !important;
}

.my_button.black {
  @apply text-black !important;
}

.my_button.yellow {
  @apply text-ox-yellow-faded-text !important;
}

.day_circle {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents_container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 92vh;
  padding-bottom: 64px;
}

.notification_letter {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  position: absolute;
  right: 32px;
  top: 0;
  transform: translateY(75%);
}

.notification_letter.collapsed_on {
  font-size: 8px;
  width: 14px;
  height: 14px;
  right: 20px;
  top: 0;
  transform: translateY(65%);
}

@media screen and (max-width: 576px) {
  .data_table table,
  .data_table table .ant-table-tbody,
  .data_table table tr,
  .data_table table td {
    width: 100%;
  }
}

.upload_card {
  border: 1px dashed var(--color_toggle_grey);
  row-gap: 16px !important;
  width: 147px;
  height: 147px;
  position: relative;
}

.auth_left {
  background: #a6a0a0 url(/truck.png) no-repeat center;
  background-size: cover;
}

.auth_right {
  background: rgba(31, 31, 53, 0.3) url("/oxbglines.png");
  background-size: cover;
  background-blend-mode: overlay;
  position: relative;
}

.auth_right .form_container {
  background: var(--color_white);
  padding: 56px 42px;
  width: 494px;
  border-radius: 8px;
  position: absolute !important;
  left: 0% !important;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
}
