:root {
  --appPaddingLeftRight: 1rem;
  --sideTopHeight: 10vh;
  --headerHeight: 10vh;
}

.ant-layout-header {
  height: var(--headerHeight) !important;
  padding: 0 var(--appPaddingLeftRight) !important;
  position: relative;
  z-index: 99;
  box-shadow: 0px -6px 24px #2a35481a !important;
}

.ant-layout-sider.ant-layout-sider-dark {
  min-width: 15vw !important;
}

.sidebar_top {
  height: var(--sideTopHeight);
  box-shadow: 0px -6px 10px #000000 !important;
}

.sidebar_bottom {
  height: 90vh;
  padding-top: 0.1rem;
}

.ant-layout-content {
  padding: 1rem var(--appPaddingLeftRight) !important;
}
